@model MvcKutuphane.Models.Entity.TBLHAREKET
@{
    ViewBag.Title = "OduncVer";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Ver</h2>

<form class="form-group" method="post">
    <div class="mb-3">
        <label>Üye Seçimi</label>
        @Html.DropDownListFor(x => x.UYE, (List<SelectListItem>)ViewBag.Uyeler, "Üye Seçiniz", new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Kitap Seçimi</label>
        @Html.DropDownListFor(x => x.KITAP, (List<SelectListItem>)ViewBag.Kitaplar, "Kitap Seçiniz", new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Personel Seçimi</label>
        @Html.DropDownListFor(x => x.PERSONEL, (List<SelectListItem>)ViewBag.Personel, "Personel Seçiniz", new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Kitap Alış Tarihi</label>
        <input type="text" class="form-control" name="ALISTARIH" value="@DateTime.Now.ToShortDateString()" />
    </div>

    <div class="mb-3">
        <label>Kitap İade Tarihi</label>
        <input type="text" class="form-control" name="IADETARIH" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
    </div>

    <input type="hidden" value="False" name="ISLEMDURUM" />

    <div class="text-right" style="margin-top:15px;">
        <button type="submit" class="btn btn-group" style="background-color:#a330b5; color:white;">Kitabı Ödünç Ver</button>
    </div>
</form>
