@model MvcKutuphane.Models.Entity.TBLHAREKET

@{
    ViewBag.Title = "Odunciade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Odunciade</h2>

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div>
        <label>Hareket ID</label>
        @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
        <br />
        <label>Kitap Adı</label>
        @Html.TextBoxFor(model => model.TBLKİTAP.AD, new { @class = "form-control" })
        <br />
        <label>Üye Adı</label>
        @Html.TextBoxFor(model => model.TBLUYELER.AD, new { @class = "form-control" })
        <br />
        <label>Personel Adı</label>
        @Html.TextBoxFor(model => model.TBLPERSONEL.PERSONEL, new { @class = "form-control" })
        <br />
        <label>Alış Tarihi</label>
        @Html.TextBoxFor(model => model.ALISTARİH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Normal İade Tarihi</label>
        @Html.TextBoxFor(model => model.IADETARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Üyenin Getirdiği Tarihi</label>
        <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-group" style="background-color:#64d8ca; color:white;" id="Btn1">Ödünç Kitabı Geri Al</button>
    </div>
}


