@model MvcKutuphane.Models.Entity.TBLKİTAP

@{
    ViewBag.Title = "KitapGuncelle";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<h2>Kitap Guncelle</h2>

<form class="form-group" method="post">
    @Html.HiddenFor(x => x.ID) <!-- ID'yi gizli alan olarak ekleyin -->
    <div class="mb-3">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control", placeholder = "Kitap adını giriniz" })
    </div>

    <div class="mb-3">
        <label>Kitap Yazarı</label>
        @Html.DropDownListFor(
            x => x.YAZAR,
            (List<SelectListItem>)ViewBag.dgr2,
            "Lütfen Seçiniz",
            new { @class = "form-control" }
        )
    </div>

    <div class="mb-3">
        <label>Kitap Kategorisi</label>
        @Html.DropDownListFor(
            x => x.KATEGORİ,
            (List<SelectListItem>)ViewBag.dgr1,
            "Lütfen Seçiniz",
            new { @class = "form-control" }
        )
    </div>

    <div class="mb-3">
        <label>Basım Yılı</label>
        @Html.TextBoxFor(x => x.BASIMYIL, new { @class = "form-control", placeholder = "Örnek: 2022" })
    </div>

    <div class="mb-3">
        <label>Yayın Evi</label>
        @Html.TextBoxFor(x => x.YAYINEVİ, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Sayfa</label>
        @Html.TextBoxFor(x => x.SAYFA, new { @class = "form-control" })
    </div>

    <div class="text-right" style="margin-top:15px;">
        <button type="submit" class="btn btn-success">Kitap Güncelle</button>
    </div>
</form>

