@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>

@{
    ViewBag.Title = "UyeKitapGecmis";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2> @ViewBag.uye nin Kitap Geçmişi</h2>
<br />
<table class="table table-danger">
    <tr>
        <td>Kitap Adı</td>
        <td>Personel</td>
        <td>Alış Tarihi</td>
        <td>İade Tarihi</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TBLKİTAP.AD</td>
            <td>@item.TBLPERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(item.ALISTARİH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(item.IADETARIH).ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>
